In [48]:
import pandas as pd
import json

In [66]:
project_id="is3107-news"

TableId_FilePath_dict={
    "Tickers":"../company_news/tickers.json",
    "Company":"../Company/Company.csv",
    "FinanceSituation":"../Finance_situation/Finance_situation.csv",
    "StockData":"../stock_price/stock_price.csv",
    "News":"../company_news/news2.csv",
}

# file path after transfering process
# News and FinanceSituation are transfered
TableId_FilePath_dict_trans={
    "Tickers":"../company_news/tickers.csv",
    "Company":"../Company/Company.csv",
    "FinanceSituation":"../Finance_situation/Finance_situation_trans.csv",
    "StockData":"../stock_price/stock_price.csv",
    "News":"../company_news/news2_trans.csv",
}

build stock-news relation table

In [62]:
relation_columns=["ticker","news_id"]
# df_tickers.head()
rows=[]
with open(TableId_FilePath_dict["Tickers"], 'r') as file:
    data = json.load(file)
    # print(data)
    
    for stock,news_list in data.items():
        for news_id in news_list:
            rows.append([stock,news_id])
df_relation=pd.DataFrame(rows,columns=relation_columns)
df_relation.to_csv(TableId_FilePath_dict_trans["Tickers"],index=False)

In [60]:
df_relation

      ticker    news_id
0      GOOGL  175557073
1      GOOGL  175592149
2      GOOGL  175725585
3      GOOGL  175559319
4      GOOGL  175585505
...      ...        ...
36895    NRG  175582467
36896    NRG  175577659
36897    NRG  175585095
36898    NRG  175577749
36899    NRG  175578023

[36900 rows x 2 columns]

data transfering

In [33]:
#remove the index column in stock_price.csv
df_stock_price=pd.read_csv(TableId_FilePath_dict["StockData"],usecols=["Ticker","Date","log_return"])
df_stock_price.to_csv(TableId_FilePath_dict_trans["StockData"],index=False)

In [34]:
# news csv
# filter chinese character
df_news=pd.read_csv(TableId_FilePath_dict["News"])

def contains_chinese(text):
    for char in text:
        if char>='\u4e00' and char<='\u9fff':
            return True
    return False

df_filter_title=df_news[~df_news["title"].apply(contains_chinese)]
df_filter_text=df_news[~df_news["text"].apply(contains_chinese)]
df_filter_text.to_csv("test.csv",index=False)

In [35]:
#time stamp to data time
df_news["publish_date"]=pd.to_datetime(df_news["publish_date"])
df_news["publish_date"]=df_news["publish_date"].dt.date
df_news.to_csv(TableId_FilePath_dict_trans["News"],index=False)

In [36]:
#finance_situation.csv
df_fin=pd.read_csv(TableId_FilePath_dict["FinanceSituation"])
df_fin["debtToEquity"]/=100
df_fin["debtToEquity"].fillna(0,inplace=True)
df_fin.to_csv(TableId_FilePath_dict_trans["FinanceSituation"],index=False)

Load data to cloud

In [39]:
from google.cloud import bigquery

client = bigquery.Client()

dataset_id = 'raw_data'
dataset_ref = client.dataset(dataset_id)

In [ ]:
# tables = client.list_tables(dataset_ref)
# for table in tables:
#     print("Table ID: {}".format(table.table_id))
#     for schema_field in table.schema:
#         print("Column Name: {}".format(schema_field.name))
#         print("Data Type: {}".format(schema_field.field_type))
#         print()

In [40]:
def load_data(table_id,file_path):
    # this is autodectect schema mode
    job_config = bigquery.LoadJobConfig(
        source_format=bigquery.SourceFormat.CSV, skip_leading_rows=1, autodetect=True,
    )

    # specified schema
    # job_config = bigquery.LoadJobConfig(
    #     schema=[
    #         bigquery.SchemaField("id", "STRING", mode="REQUIRED", description="The Unique id of the news."),
    #         bigquery.SchemaField("title", "STRING", mode="REQUIRED", description="The title of the news."),
    #         bigquery.SchemaField("text", "STRING", mode="REQUIRED", description="The text of the news."),
    #         bigquery.SchemaField("url", "STRING", mode="NULLABLE", description="The URL of the news's source."),
    #         bigquery.SchemaField("publish_date", "DATE", mode="REQUIRED", description="The publish date of the news."),
    #         bigquery.SchemaField("author", "STRING", mode="NULLABLE", description="The author of the news."),
    #         bigquery.SchemaField("language", "STRING", mode="NULLABLE", description="The language of the news."),
    #         bigquery.SchemaField("source_country", "STRING", mode="NULLABLE", description="The country of the news's source."),
    #         bigquery.SchemaField("sentiment", "FLOAT", mode="NULLABLE", description="The sentiment score of the news."),
    #     ],
    #     autodetect=False
    # )
    
    with open(file_path, "rb") as source_file:
        job = client.load_table_from_file(source_file, table_id, job_config=job_config)

    job.result()  # Waits for the job to complete.

    table = client.get_table(table_id)  # Make an API request.
    print(
        "Loaded {} rows and {} columns to {}".format(
            table.num_rows, len(table.schema), table_id
        )
    )

In [67]:
for table_id,file_path in TableId_FilePath_dict_trans.items():
    print(f"load data: {table_id}:")
    load_data(f"{project_id}.{dataset_id}.{table_id}",file_path)

load data: Tickers:
Loaded 36900 rows and 2 columns to is3107-news.raw_data.Tickers
load data: Company:
Loaded 368 rows and 5 columns to is3107-news.raw_data.Company
load data: FinanceSituation:
Loaded 368 rows and 12 columns to is3107-news.raw_data.FinanceSituation
load data: StockData:
Loaded 22387 rows and 3 columns to is3107-news.raw_data.StockData
load data: News:
Loaded 200 rows and 11 columns to is3107-news.raw_data.News

In [45]:
tables = client.list_tables(dataset_ref)
for table in tables:
    print("Table ID: {}".format(table.table_id))

Table ID: FinanceSituation
Table ID: News
Table ID: StockData
Table ID: raw_news
Table ID: raw_news_test

In [43]:
#check all the tables

# API 
tables = client.list_tables(dataset_ref)

print("Tables contained in '{}':".format(dataset_id))
for table in tables:
    print("Table ID: {}".format(table.table_id))

    table_ref = dataset_ref.table(table.table_id)
    table = client.get_table(table_ref)  

    # show the column and the dtype
    print("Schema of '{}':".format(table.table_id))
    for schema_field in table.schema:
        print("Column name: {}, Column type: {}".format(schema_field.name, schema_field.field_type))

    # view few rows from the table
    preview = client.list_rows(table, max_results=5).to_dataframe()
    print("Preview of the first few rows from '{}':".format(table.table_id))
    print(preview)
    print("\n")

Tables contained in 'raw_data':
Table ID: Company
Schema of 'Company':
Column name: id, Column type: STRING
Column name: name, Column type: STRING
Column name: fullTimeEmployees, Column type: FLOAT
Column name: Industry, Column type: STRING
Column name: Country, Column type: STRING
Preview of the first few rows from 'Company':
     id                             name  fullTimeEmployees  \
0  LULU         lululemon athletica inc.            38000.0
1   MDT                   Medtronic plc.            95000.0
2   STE             STERIS plc (Ireland)            17000.0
3   ACN                    Accenture plc           742000.0
4   STX  Seagate Technology Holdings PLC            33400.0

            Industry  Country
0  Consumer Cyclical   Canada
1         Healthcare  Ireland
2         Healthcare  Ireland
3         Technology  Ireland
4         Technology  Ireland


Table ID: FinanceSituation
Schema of 'FinanceSituation':
Column name: company_id, Column type: STRING
Column name: AuditRisk, Column type: FLOAT
Column name: Dividend_rate, Column type: FLOAT
Column name: Dividend_Yield, Column type: FLOAT
Column name: Payout_rate, Column type: FLOAT
Column name: Beta, Column type: FLOAT
Column name: Market_Cap, Column type: FLOAT
Column name: profit_margins, Column type: FLOAT
Column name: short_ratio, Column type: FLOAT
Column name: quick_ratio, Column type: FLOAT
Column name: current_ratio, Column type: FLOAT
Column name: debtToEquity, Column type: FLOAT
Preview of the first few rows from 'FinanceSituation':
  company_id  AuditRisk  Dividend_rate  Dividend_Yield  Payout_rate   Beta  \
0       SOLV        NaN            NaN             NaN          NaN    NaN
1        KMX        2.0            NaN             NaN          NaN  1.598
2       DXCM        2.0            NaN             NaN          NaN  1.207
3         ON        2.0            NaN             NaN          NaN  1.790
4        PTC        2.0            NaN             NaN          NaN  1.184

   Market_Cap  profit_margins  short_ratio  quick_ratio  current_ratio  \
0    0.239867         0.16421          NaN        0.872          1.458
1    0.231860         0.01763        12.57        0.393          2.453
2    1.183405         0.14949         4.32        2.385          2.844
3    0.221613         0.26459         3.51        1.604          2.708
4    0.159129         0.10860         2.84        0.992          1.194

   debtToEquity
0         0.840
1       326.105
2       125.399
3        46.455
4        87.324


Table ID: News
Schema of 'News':
Column name: id, Column type: INTEGER
Column name: title, Column type: STRING
Column name: text, Column type: STRING
Column name: url, Column type: STRING
Column name: image, Column type: STRING
Column name: publish_date, Column type: TIMESTAMP
Column name: author, Column type: STRING
Column name: authors, Column type: STRING
Column name: language, Column type: STRING
Column name: source_country, Column type: STRING
Column name: sentiment, Column type: FLOAT
Preview of the first few rows from 'News':
          id                                              title  \
0  177866371                   全球智慧手錶出貨量今年強勢反彈、將迎17%成長率！研調揭2大關鍵
1  178944799               引領科技趨勢潮流、CES 最佳創新大獎名單出爐！華碩、Garmin均上榜
2  190041345  Domino's Pizza Again Victim of 'Part-Time Terror'
3  175555911                    Laugfs also hikes LP gas prices
4  175555911                    Laugfs also hikes LP gas prices

                                                text  \
0  即時 熱門 政治 軍武 社會 生活 健康 國際 地方 蒐奇 影音 財經 娛樂 汽車 時尚 體...
1  即時 熱門 政治 軍武 社會 生活 健康 國際 地方 蒐奇 影音 財經 娛樂 汽車 時尚 體...
2  OSAKA, Feb 14 (News On Japan) - A video, shot ...
3  Laugfs Gas PLC, one of the two largest liquefi...
4  Laugfs Gas PLC, one of the two largest liquefi...

                                           url  \
0             https://3c.ltn.com.tw/news/56553
1             https://3c.ltn.com.tw/news/56591
2   https://newsonjapan.com/article/140716.php
3  https://www.adaderana.lk/news.php?nid=96053
4  https://www.adaderana.lk/news.php?nid=96053

                                               image  \
0  https://img.ltn.com.tw/Upload/3c/page/2024/01/...
1  https://img.ltn.com.tw/Upload/3c/page/2024/01/...
2             https://i2.ytimg.com/vi//mqdefault.jpg
3  https://adaderanaenglish.s3.amazonaws.com/1704...
4  https://adaderanaenglish.s3.amazonaws.com/1704...

               publish_date author authors language source_country  sentiment
0 2024-01-08 09:08:57+00:00   None      []       en             tw     -0.026
1 2024-01-11 09:04:32+00:00   None      []       en             tw      0.925
2 2024-02-13 19:55:58+00:00   None      []       en             jp     -0.307
3 2024-01-01 12:04:40+00:00   None      []       en             lk      0.283
4 2024-01-01 12:04:40+00:00   None      []       en             lk      0.283


Table ID: StockData
Schema of 'StockData':
Column name: int64_field_0, Column type: INTEGER
Column name: Ticker, Column type: STRING
Column name: Date, Column type: DATE
Column name: log_return, Column type: FLOAT
Preview of the first few rows from 'StockData':
   int64_field_0 Ticker        Date  log_return
0              0  GOOGL  2024-01-02         NaN
1             61   MTCH  2024-01-02         NaN
2            122   META  2024-01-02         NaN
3            183   NFLX  2024-01-02         NaN
4            244    OMC  2024-01-02         NaN


Table ID: raw_news
Schema of 'raw_news':
Preview of the first few rows from 'raw_news':
Empty DataFrame
Columns: []
Index: []


Table ID: raw_news_test
Schema of 'raw_news_test':
Column name: author, Column type: STRING
Column name: title, Column type: STRING
Column name: description, Column type: STRING
Column name: url, Column type: STRING
Column name: urlToImage, Column type: STRING
Column name: publishedAt, Column type: STRING
Column name: content, Column type: STRING
Column name: source_id, Column type: STRING
Column name: source_name, Column type: STRING
Preview of the first few rows from 'raw_news_test':
              author                                              title  \
0  InvestorsObserver  PowerBand Receives TSXV Approval for Extension...
1      coinpedia.org  Analyst Predicts XRP’s Ascent to $1; Breakout ...
2      coinpedia.org  Destroyer, Set To Release New ‘Black Account’ ...
3                TNN  Law should keep pace with fintech and digitisa...
4      coinpedia.org  The Bull Run of 2024 and Why Launchpad Tokens ...

                                         description  \
0  TORONTO, ON / ACCESSWIRE / March 25, 2024 /  P...
1  The post Analyst Predicts XRP’s Ascent to $1; ...
2  Destroyer, Set To Release New ‘Black Account’ ...
3  CHENNAI: The rapid digitalisation of finance b...
4  The post The Bull Run of 2024 and Why Launchpa...

                                                 url  \
0  https://www.investorsobserver.com/news/qm-pr/5...
1              https://biztoc.com/x/137345cdf62dc983
2              https://biztoc.com/x/6a2ee8963019cb33
3  https://timesofindia.indiatimes.com/city/chenn...
4              https://biztoc.com/x/187bdc722813c83d

                                          urlToImage           publishedAt  \
0  https://s3.amazonaws.com/images.investorsobser...  2024-03-25T15:30:00Z
1     https://c.biztoc.com/p/137345cdf62dc983/s.webp  2024-03-25T15:28:36Z
2     https://c.biztoc.com/p/6a2ee8963019cb33/s.webp  2024-03-25T15:28:33Z
3  https://static.toiimg.com/thumb/msid-108770087...  2024-03-25T15:16:39Z
4     https://c.biztoc.com/p/187bdc722813c83d/s.webp  2024-03-25T15:12:52Z

                                             content           source_id  \
0  News HomeMentioned in this article\r\nTORONTO,...                None
1  The post Analyst Predicts XRPs Ascent to $1; B...                None
2  Destroyer, Set To Release New Black Account Fe...                None
3              8 fruits that help lose weight faster  the-times-of-india
4  The post The Bull Run of 2024 and Why Launchpa...                None

          source_name
0   InvestorsObserver
1          Biztoc.com
2          Biztoc.com
3  The Times of India
4          Biztoc.com

In [65]:
#delete table

# for table_id,file_path in TableId_FilePath_dict_trans.items():
#     full_table_id = f"{project_id}.{dataset_id}.{table_id}"
#     client.delete_table(full_table_id)