In [116]:
import pandas as pd
import json

In [168]:
project_id="is3107-news"

TableId_FilePath_dict={
    "Tickers":"../company_news/tickers.json",
    "Company":"../Company/Company.csv",
    "FinanceSituation":"../Finance_situation/Finance_situation.csv",
    "StockData":"../stock_price/stock_price.csv",
    "News":"../company_news/news2.csv",
}

# file path after transfering process
# News and FinanceSituation are transfered
TableId_FilePath_dict_trans={
    "Tickers":"../company_news/tickers.csv",
    "Company":"../Company/Company.csv",
    "FinanceSituation":"../Finance_situation/Finance_situation_trans.csv",
    "StockData":"../stock_price/stock_price.csv",
    "News":"../company_news/news2_trans.csv",
}

TableId_PrimaryKey_dict={
    "Tickers":["ticker","news_id"],
    "Company":["id"],
    "FinanceSituation":["company_id"],
    "StockData":["Ticker","Date"],
    "News":["id"],
}

build stock-news relation table

In [118]:
relation_columns=["ticker","news_id"]
# df_tickers.head()
rows=[]
with open(TableId_FilePath_dict["Tickers"], 'r') as file:
    data = json.load(file)
    # print(data)
    
    for stock,news_list in data.items():
        for news_id in news_list:
            rows.append([stock,news_id])
df_relation=pd.DataFrame(rows,columns=relation_columns)
df_relation.to_csv(TableId_FilePath_dict_trans["Tickers"],index=False)

In [119]:
df_relation

      ticker    news_id
0      GOOGL  175557073
1      GOOGL  175592149
2      GOOGL  175725585
3      GOOGL  175559319
4      GOOGL  175585505
...      ...        ...
36895    NRG  175582467
36896    NRG  175577659
36897    NRG  175585095
36898    NRG  175577749
36899    NRG  175578023

[36900 rows x 2 columns]

data transfering

In [120]:
#remove the index column in stock_price.csv
df_stock_price=pd.read_csv(TableId_FilePath_dict["StockData"],usecols=["Ticker","Date","log_return"])
df_stock_price.to_csv(TableId_FilePath_dict_trans["StockData"],index=False)

In [121]:
# news csv
# filter chinese character
df_news=pd.read_csv(TableId_FilePath_dict["News"])

#time stamp to data time
df_news["publish_date"]=pd.to_datetime(df_news["publish_date"])
df_news["publish_date"]=df_news["publish_date"].dt.date
df_news.to_csv(TableId_FilePath_dict_trans["News"],index=False)

def contains_chinese(text):
    for char in text:
        if char>='\u4e00' and char<='\u9fff':
            return True
    return False

df_filter_title=df_news[~df_news["title"].apply(contains_chinese)]
df_filter_text=df_news[~df_news["text"].apply(contains_chinese)]
df_filter_text=df_filter_text.drop_duplicates(subset='id',keep="first")
df_filter_text.to_csv(TableId_FilePath_dict_trans["News"],index=False)

In [122]:
df_filter_text.shape

(97, 11)

In [123]:
#finance_situation.csv
df_fin=pd.read_csv(TableId_FilePath_dict["FinanceSituation"])
df_fin["debtToEquity"]/=100
df_fin["debtToEquity"].fillna(0,inplace=True)
df_fin.to_csv(TableId_FilePath_dict_trans["FinanceSituation"],index=False)

Load data to cloud

In [124]:
from google.cloud import bigquery

client = bigquery.Client()

dataset_id = 'raw_data'
dataset_ref = client.dataset(dataset_id)

In [ ]:
def merge_data(tmp_table_id,target_table_id):

    primarykey_list=TableId_PrimaryKey_dict[target_table_id.split('.')[-1]]
    
    if len(primarykey_list)==1:
        primarykey_statement=f"target.{primarykey_list[0]} = source.{primarykey_list[0]}"
    elif len(primarykey_list)==2:
        primarykey_statement=f"target.{primarykey_list[0]} = source.{primarykey_list[0]} "+\
            f" AND target.{primarykey_list[1]} = source.{primarykey_list[1]}"
        
    
    merge_statement=f"""
    MERGE `{target_table_id}` AS target
    USING `{tmp_table_id}` AS source
    ON ({primarykey_statement})
    WHEN NOT MATCHED THEN
        INSERT ROW
    """
    
    
    query_job = client.query(merge_statement)

    # 等待任务完成
    query_job.result()

def load_data(table_id,file_path):
    # this is autodectect schema mode
    job_config = bigquery.LoadJobConfig(
        source_format=bigquery.SourceFormat.CSV, skip_leading_rows=1, autodetect=True,
    )
    
    #upload the tmp table
    tmp_table_id=table_id+"_tmp"
    with open(file_path, "rb") as source_file:
        job = client.load_table_from_file(source_file, tmp_table_id, job_config=job_config)
    job.result()  # Waits for the job to complete.
    
    merge_data(tmp_table_id,table_id)
    # drop the tmp table
    client.delete_table(tmp_table_id)
    
    table = client.get_table(table_id)  # Make an API request.
    print(
        "Loaded {} rows and {} columns to {}".format(
            table.num_rows, len(table.schema), table_id
        )
    )

In [ ]:
for table_id,file_path in TableId_FilePath_dict_trans.items():
    print(f"Load data: {table_id}:")
    load_data(f"{project_id}.{dataset_id}.{table_id}",file_path)

**SQL**

DELETE FROM `is3107-news.raw_data.News`

WHERE id IN (

    SELECT id

    FROM `is3107-news.raw_data.News`

    LIMIT 10 -- 删除前10行

);

In [170]:
tables = client.list_tables(dataset_ref)
for table in tables:
    print("Table ID: {}".format(table.table_id))

Table ID: Company
Table ID: FinanceSituation
Table ID: Industry
Table ID: News
Table ID: StockData
Table ID: Tickers
Table ID: raw_news
Table ID: raw_news_test

In [171]:
#check all the tables

# API 
tables = client.list_tables(dataset_ref)

print("Tables contained in '{}':".format(dataset_id))
for table in tables:
    print("Table ID: {}".format(table.table_id))

    table_ref = dataset_ref.table(table.table_id)
    table = client.get_table(table_ref)  

    # show the column and the dtype
    print("Schema of '{}':".format(table.table_id))
    for schema_field in table.schema:
        print("Column name: {}, Column type: {}".format(schema_field.name, schema_field.field_type))

    # view few rows from the table
    preview = client.list_rows(table, max_results=5).to_dataframe()
    print("Preview of the first few rows from '{}':".format(table.table_id))
    print(preview)
    print("\n")

Tables contained in 'raw_data':
Table ID: Company
Schema of 'Company':
Column name: id, Column type: STRING
Column name: name, Column type: STRING
Column name: fullTimeEmployees, Column type: FLOAT
Column name: Industry, Column type: STRING
Column name: Country, Column type: STRING
Preview of the first few rows from 'Company':
     id                             name  fullTimeEmployees  \
0  LULU         lululemon athletica inc.            38000.0
1   MDT                   Medtronic plc.            95000.0
2   STE             STERIS plc (Ireland)            17000.0
3   ACN                    Accenture plc           742000.0
4   STX  Seagate Technology Holdings PLC            33400.0

            Industry  Country
0  Consumer Cyclical   Canada
1         Healthcare  Ireland
2         Healthcare  Ireland
3         Technology  Ireland
4         Technology  Ireland


Table ID: FinanceSituation
Schema of 'FinanceSituation':
Column name: company_id, Column type: STRING
Column name: AuditRisk, Column type: FLOAT
Column name: Dividend_rate, Column type: FLOAT
Column name: Dividend_Yield, Column type: FLOAT
Column name: Payout_rate, Column type: FLOAT
Column name: Beta, Column type: FLOAT
Column name: Market_Cap, Column type: FLOAT
Column name: profit_margins, Column type: FLOAT
Column name: short_ratio, Column type: FLOAT
Column name: quick_ratio, Column type: FLOAT
Column name: current_ratio, Column type: FLOAT
Column name: debtToEquity, Column type: FLOAT
Preview of the first few rows from 'FinanceSituation':
  company_id  AuditRisk  Dividend_rate  Dividend_Yield  Payout_rate   Beta  \
0       SOLV        NaN            NaN             NaN          NaN    NaN
1        KMX        2.0            NaN             NaN          NaN  1.598
2       DXCM        2.0            NaN             NaN          NaN  1.207
3         ON        2.0            NaN             NaN          NaN  1.790
4        PTC        2.0            NaN             NaN          NaN  1.184

   Market_Cap  profit_margins  short_ratio  quick_ratio  current_ratio  \
0    0.239867         0.16421          NaN        0.872          1.458
1    0.231860         0.01763        12.57        0.393          2.453
2    1.183405         0.14949         4.32        2.385          2.844
3    0.221613         0.26459         3.51        1.604          2.708
4    0.159129         0.10860         2.84        0.992          1.194

   debtToEquity
0       0.00840
1       3.26105
2       1.25399
3       0.46455
4       0.87324


Table ID: Industry
Schema of 'Industry':
Column name: Industry, Column type: STRING
Column name: sentiment, Column type: FLOAT
Column name: AuditRisk, Column type: FLOAT
Column name: Dividend_rate, Column type: FLOAT
Column name: Dividend_Yield, Column type: FLOAT
Column name: Payout_rate, Column type: FLOAT
Column name: Beta, Column type: FLOAT
Column name: Market_Cap, Column type: FLOAT
Column name: profit_margins, Column type: FLOAT
Column name: short_ratio, Column type: FLOAT
Column name: quick_ratio, Column type: FLOAT
Column name: current_ratio, Column type: FLOAT
Column name: debtToEquity, Column type: FLOAT
Preview of the first few rows from 'Industry':
                 Industry  sentiment  AuditRisk  Dividend_rate  \
0             Real Estate   0.116459   3.963466       4.351176
1         Basic Materials   0.111697   5.313537       2.546480
2      Consumer Defensive   0.101209   6.460432       2.809065
3  Communication Services   0.103378   8.243243       1.901290
4               Utilities   0.105863   5.550404       2.418199

   Dividend_Yield  Payout_rate      Beta  Market_Cap  profit_margins  \
0        0.042388     6.065708  1.008858    3.943284        0.215055
1        0.021149     0.579976  1.138445    7.309371        0.107478
2        0.032622     0.574449  0.671180    2.410699        0.119740
3        0.030611     0.654987  1.132978   24.288739        0.149642
4        0.037287     0.674349  0.632805    4.577116        0.120373

   short_ratio  quick_ratio  current_ratio  debtToEquity
0     3.073742     2.270948       2.517077      2.817140
1     2.565834     1.221592       1.962254      0.680893
2     2.325899     0.310806       0.688338      0.863004
3     2.794973     1.546751       1.727135      0.494602
4     2.532394     0.395478       0.797209      1.765473


Table ID: News
Schema of 'News':
Column name: id, Column type: INTEGER
Column name: title, Column type: STRING
Column name: text, Column type: STRING
Column name: url, Column type: STRING
Column name: image, Column type: STRING
Column name: publish_date, Column type: DATE
Column name: author, Column type: STRING
Column name: authors, Column type: STRING
Column name: language, Column type: STRING
Column name: source_country, Column type: STRING
Column name: sentiment, Column type: FLOAT
Preview of the first few rows from 'News':
          id                                              title  \
0  175560657  Indian athletes to aim at Paris Olympics this ...
1  175560893  Couple treat pet pigs to bubble baths and orga...
2  175554459  New year, new job! As Crown Princess Mary of D...
3  175556823  New year: Fireworks and street parties ring in...
4  175557073  Farmers caught in the growing competition for ...

                                                text  \
0  New Delhi [India], January 1 (ANI): The domest...
1  Meet the pampered pigs who are treated to bubb...
2  Crown Princess Mary is preparing for her role ...
3  The UK marked the beginning of 2024 with firew...
4  Throughout last year (2023), the climate chang...

                                                 url  \
0  https://www.thejapannews.net/news/274081732/in...
1  https://www.dailyrecord.co.uk/news/uk-world-ne...
2  https://www.dailymail.co.uk/femail/article-129...
3             https://www.bbc.co.uk/news/uk-67855970
4  https://www.agriland.ie/farming-news/farmers-c...

                                               image publish_date  \
0   https://cdn.bignewsnetwork.com/ani1704098637.jpg   2024-01-01
1  https://i2-prod.dailyrecord.co.uk/incoming/art...   2024-01-01
2  https://i.dailymail.co.uk/1s/2024/01/01/10/795...   2024-01-01
3  https://ichef.bbci.co.uk/news/1024/branded_new...   2024-01-01
4  https://cdn.agriland.ie/uploads/2023/12/DSC_24...   2024-01-01

                       author                           authors language  \
0                        None                                []       en
1                   Emma Dunn                     ['Emma Dunn']       en
2   Editor, Elmira Tanatarova   ['Editor', 'Elmira Tanatarova']       en
3               Doug Faulkner                 ['Doug Faulkner']       en
4  Jeff Bezos, Justin Roberts  ['Jeff Bezos', 'Justin Roberts']       en

  source_country  sentiment
0             bh      0.068
1             gb      0.437
2             gb      0.426
3             gb      0.380
4             ie      0.149


Table ID: StockData
Schema of 'StockData':
Column name: Ticker, Column type: STRING
Column name: Date, Column type: DATE
Column name: log_return, Column type: FLOAT
Preview of the first few rows from 'StockData':
  Ticker        Date  log_return
0  GOOGL  2024-01-02         NaN
1   MTCH  2024-01-02         NaN
2   META  2024-01-02         NaN
3   NFLX  2024-01-02         NaN
4    OMC  2024-01-02         NaN


Table ID: Tickers
Schema of 'Tickers':
Column name: ticker, Column type: STRING
Column name: news_id, Column type: INTEGER
Preview of the first few rows from 'Tickers':
  ticker    news_id
0  GOOGL  175586561
1  GOOGL  175586561
2  GOOGL  175586561
3  GOOGL  175678977
4  GOOGL  175678977


Table ID: raw_news
Schema of 'raw_news':
Preview of the first few rows from 'raw_news':
Empty DataFrame
Columns: []
Index: []


Table ID: raw_news_test
Schema of 'raw_news_test':
Column name: author, Column type: STRING
Column name: title, Column type: STRING
Column name: description, Column type: STRING
Column name: url, Column type: STRING
Column name: urlToImage, Column type: STRING
Column name: publishedAt, Column type: STRING
Column name: content, Column type: STRING
Column name: source_id, Column type: STRING
Column name: source_name, Column type: STRING
Preview of the first few rows from 'raw_news_test':
              author                                              title  \
0  InvestorsObserver  PowerBand Receives TSXV Approval for Extension...
1      coinpedia.org  Analyst Predicts XRP’s Ascent to $1; Breakout ...
2      coinpedia.org  Destroyer, Set To Release New ‘Black Account’ ...
3                TNN  Law should keep pace with fintech and digitisa...
4      coinpedia.org  The Bull Run of 2024 and Why Launchpad Tokens ...

                                         description  \
0  TORONTO, ON / ACCESSWIRE / March 25, 2024 /  P...
1  The post Analyst Predicts XRP’s Ascent to $1; ...
2  Destroyer, Set To Release New ‘Black Account’ ...
3  CHENNAI: The rapid digitalisation of finance b...
4  The post The Bull Run of 2024 and Why Launchpa...

                                                 url  \
0  https://www.investorsobserver.com/news/qm-pr/5...
1              https://biztoc.com/x/137345cdf62dc983
2              https://biztoc.com/x/6a2ee8963019cb33
3  https://timesofindia.indiatimes.com/city/chenn...
4              https://biztoc.com/x/187bdc722813c83d

                                          urlToImage           publishedAt  \
0  https://s3.amazonaws.com/images.investorsobser...  2024-03-25T15:30:00Z
1     https://c.biztoc.com/p/137345cdf62dc983/s.webp  2024-03-25T15:28:36Z
2     https://c.biztoc.com/p/6a2ee8963019cb33/s.webp  2024-03-25T15:28:33Z
3  https://static.toiimg.com/thumb/msid-108770087...  2024-03-25T15:16:39Z
4     https://c.biztoc.com/p/187bdc722813c83d/s.webp  2024-03-25T15:12:52Z

                                             content           source_id  \
0  News HomeMentioned in this article\r\nTORONTO,...                None
1  The post Analyst Predicts XRPs Ascent to $1; B...                None
2  Destroyer, Set To Release New Black Account Fe...                None
3              8 fruits that help lose weight faster  the-times-of-india
4  The post The Bull Run of 2024 and Why Launchpa...                None

          source_name
0   InvestorsObserver
1          Biztoc.com
2          Biztoc.com
3  The Times of India
4          Biztoc.com

In [130]:
#delete table

# for table_id,file_path in TableId_FilePath_dict_trans.items():
#     full_table_id = f"{project_id}.{dataset_id}.{table_id}"
#     client.delete_table(full_table_id)